<ion-header>
  <ion-toolbar>
    <ion-title>ACTIVITEITEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-activities-scrollview></app-activities-scrollview>
  <ion-card id="{{ activity.title }}card" class="exampleCards" *ngFor="let activity of activities">
    <ion-card-header style="padding-bottom: 0px; padding-top: 5%;">
      <div style="width: 100%">
        <ion-icon id="{{ activity.title }}" (click)="onIcon($event)" class="titleRow icon" style="padding: 0%;" name="add-circle-outline"></ion-icon>
        <label style="margin-left: 4%" class="titleRow">{{activity.title.toUpperCase()}}</label>
      </div>
    </ion-card-header>
    <ion-card-content class="exampleCardContent">
      <p id="{{ activity.title }}desc" class="contentText">{{activity.description}}</p>
      <div id="{{ activity.title }}colorBlock" class="colorBlock"></div>
      <div id="{{ activity.title }}div" class="nodisplay">
          <ion-row>
              <ion-col size="8">
                <h4>Wanneer</h4>
              </ion-col>
              <ion-col>
                <h4>Duur</h4>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="customCol" size="8">
                <ion-datetime [(ngModel)]="startDate" id="startDate" picker-format="DDDD H:mm" display-format="DDDD H:mm" max="2030-12-31" placeholder="Datum"></ion-datetime>
              </ion-col>
              <ion-col class="customCol">
                <ion-datetime [(ngModel)]="duration" id="duration" display-format="mm" placeholder="Tijd" minuteValues="5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60"></ion-datetime>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
                <span class="error">{{ dateError }}</span>
            </ion-col>
            <ion-col>
                <span class="error">{{ durationError }}</span>
            </ion-col>
          </ion-row>
          <h4>Waar</h4>
          <ion-input id="{{activity.title}}location" id="location"></ion-input>
          <span id="{{activity.title}}input" class="error">{{ locationError }}</span>
          <ion-row id="{{ activity.title }}div" class="ion-justify-content-around submitRow" style="margin-top: 5%;">
              <ion-button class="blueBtn submitBtn">Collega's uitnodigen</ion-button>
              <ion-button class="purpleBtn submitBtn" (click)="createActivity()">Aanmaken</ion-button>
            </ion-row>
            <div id="{{activity.title}}type" style="display: none;"></div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
