.colleagueview {
    background-image: url("../../assets/Vlek_collegas.png");
    background-size: 100% 150%;
}

.header {
    width: 40%;
    margin-left: 30%;
    text-align: center;
    color: white;
}

.scrollview {
    overflow: auto;
    white-space: nowrap;
}

.colleagueCardView {
    margin-top: 0%;
    background-color: white;
    color: black;
    width: 100px;
    height: 100px;
    position: relative;

    
}

.profileImg {
    background-image: url("../../assets/default.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 25%;
    border-radius: 50%;

    position: absolute;
    top: 0px;
    left: 0px;
            
    z-index: 10;
    margin: 10px;

}


.card-content {
}