<ion-row class="mysteryBox">
  <div class="mysteryActTextBox" style="width: 50%">
    <ul style="padding-left: 8px; padding-right: 8px">
      <h5 style="margin: 5px 0px;">MYSTERY ACTIVITEIT</h5>
      <p style="margin: 5px 0px;">Woensdag 8 januari</p>
      <p style="margin: 5px 0px;">13.00 uur - 30 min</p>
      <p style="margin: 0px 0px;">23 mensen doen al mee</p>
    </ul>
    
  </div>
  <div style="width: 50%">
    <ion-row>
      <ion-card class="dateCard">
        <p class="dateCardText">{{days }} </p>
        <p class="dateCardText"> dagen</p>
      </ion-card>
      <ion-card class="dateCard">
        <p>{{hours}} uur</p>
      </ion-card>
      <ion-card class="dateCard">
        <p>{{minutes}} minuten</p>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-button class="joinBtn">MEEDOEN</ion-button>
    </ion-row>
  </div>
</ion-row>
