.timeBtn {
    width: 25%;
    margin-left: 0px;
    margin-right: 0px;
    --background: #ECEEF3;
    color: black;
    --border-radius: 0px;
    --background-activated: #ECEEF3;
    --background-focused: #ECEEF3;
    --background-hover: #ECEEF3;
    --color-activated: black;
}

.isSelected {
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-bottom-color: #2178A5;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.activityCard {
    width: 130px;
    padding: 0px;
    margin: 5%;
    border-radius: 10%;
    background-color: #2178A5;
    color:white;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}