<ion-header>
  <ion-toolbar>
    <ion-title slot="secondary">
      Activiteiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-no-margin" size="8">
    <ion-searchbar></ion-searchbar>
  </ion-col>
  <ion-col class="ion-no-margin">
    <ion-button expand="block" shape="round" (click)="navCreateActivity()">Activiteit</ion-button>
  </ion-col>
</ion-row>
    <ion-card *ngFor="let activity of activities | async">
      <ion-item color="primary">
        <div>
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.startDate }}</p>
      </div>
      </ion-item>
      <ion-card-content>
        <p>{{ activity.description }}</p>
      </ion-card-content>
      <ion-row>
          <ion-button color="primary">
          <ion-icon name="person"> </ion-icon>
          <div>{{ activity.participants.length }}</div>
        </ion-button>
        <ion-button color="primary">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-card>
</ion-content>
