.btn {
  display: block;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border:1px solid red;
}

ion-searchbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.arrow {
  width: 23%;
}

.arrow:active {
  --border-color: white;
  --border-width: 1px;
  --border-radius: 11px;
  --border-style: solid;
}

.weekCalBtn {
  --background: transparent;
  font-size: 12px;  
  padding-left: 0px;
  padding-right: 0px;
  --background-activated: transparent;
  margin: 0px;
  width: 25%;
}

.dayNumbers {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.weekView {
  width: 100%;
}

.days {
  color: white;
  font-size: 11px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.selectedWeekBtn {
  --border-color: white;
  --border-width: 1px;
  --border-radius: 50%;
  --border-style: solid;
}

.currentActivityRow {
  height: 15%;
  width: 100%;
}

.textBox {
  width: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.activityTextBox {
  color: white;
  background-color: #BC0574;
  margin-left: 15%;
  margin-right: 15%;
}

.activityCard {
  width: 80%;
  height: 80%;
  padding: 0px;
  margin: 20px;
  border-radius: 11%;
  background-color: #2178A5;
  color:white;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  -webkit-transition: width 0.2s; /* Safari prior 6.1 */
  transition: width 0.2s;
}