<ion-header>
  <ion-toolbar>
    <ion-title>
      VANDAAG
    </ion-title>
  </ion-toolbar>
  <ion-row class="weekView">
    <ion-button (click)="goBack()" class="weekCalBtn arrow">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <div class="dayNumbers">
      <ion-button id={{dateNumbers[0]}} (click)=weekBtnPressed($event) class="weekCalBtn">{{ dateNumbers[0] }}</ion-button>
      <ion-button id={{dateNumbers[1]}} (click)=weekBtnPressed($event) class="weekCalBtn">{{ dateNumbers[1] }}</ion-button>
      <ion-button id={{dateNumbers[2]}} (click)=weekBtnPressed($event) class="weekCalBtn">{{ dateNumbers[2] }}</ion-button>
      <ion-button id={{dateNumbers[3]}} (click)=weekBtnPressed($event) class="weekCalBtn">{{ dateNumbers[3] }}</ion-button>
      <ion-button id={{dateNumbers[4]}} (click)=weekBtnPressed($event) class="weekCalBtn">{{ dateNumbers[4] }}</ion-button>
    </div>
    <ion-button (click)="goForward()" class="weekCalBtn arrow">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row class="ion-justify-content-around days">
    <div>ma</div>
    <div>di</div>
    <div>wo</div>
    <div>do</div>
    <div>vr</div>
  </ion-row>
</ion-header>
<ion-content>
  <div class="currentActivityRow">
    <ion-row>
      <div class="textBox">
        <h6 style="text-align: center; padding-left: 5%; padding-right: 6%;">MIJN GEPLANDE PAUZE ACTIVITEIT</h6>
      </div>
      <div class="textBox">
        <ion-card class="activityTextBox">
          <p style="text-align: center">Je hebt nog niets gepland</p>
          <p style="text-align: center">Heb je zin in een activiteit? </p>
        </ion-card>
      </div>
    </ion-row>
    <app-mystery-activity></app-mystery-activity>
    <app-activities-scrollview></app-activities-scrollview>
    <app-colleagues-view></app-colleagues-view>
  </div>
</ion-content>
