<ion-header>
  <ion-toolbar>
    <ion-title>
      Vandaag
    </ion-title>
  </ion-toolbar>
  <ion-grid id="date-selector">
    <ion-row>
      <ion-col><ion-row>
        <ion-col class="date_number current">6</ion-col>
        </ion-row><ion-row>
        <ion-col class="date_name">ma</ion-col>
      </ion-row></ion-col>
      <ion-col><ion-row>
        <ion-col class="date_number">7</ion-col>
      </ion-row><ion-row>
        <ion-col class="date_name">di</ion-col>
      </ion-row></ion-col>
      <ion-col><ion-row>
        <ion-col class="date_number">8</ion-col>
      </ion-row><ion-row>
        <ion-col class="date_name">wo</ion-col>
      </ion-row></ion-col>
      <ion-col><ion-row>
        <ion-col class="date_number">9</ion-col>
      </ion-row><ion-row>
        <ion-col class="date_name">do</ion-col>
      </ion-row></ion-col>
      <ion-col><ion-row>
        <ion-col class="date_number">10</ion-col>
      </ion-row><ion-row>
        <ion-col class="date_name">vr</ion-col>
      </ion-row></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content id="daily-calendar">
  <ion-grid>
    <ion-row>
      <ion-col class="title" size="3">TIJD</ion-col>
      <ion-col class="title" size="8">ACTIVITEITEN</ion-col>
    </ion-row>
    <!-- <div *ngFor="let event of eventList">
      <ion-row *ngIf="event.timesBeforeEvent != null">
        <ion-col class="rowcontainer" size="3">
          <ion-row *ngFor="let time of event.timesBeforeEvent">
            <ion-col class="time_stamp">{{ time }}:00</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="8"></ion-col>
      </ion-row>
      <ion-row *ngIf="event.event != null">
        <ion-col class="rowcontainer" size="3">
          <ion-row *ngFor="let time of event.event.times">
            <ion-col class="time_stamp">{{ time }}:00</ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="8">
          <ion-card class="planning_item">
            <ion-card-title>{{ event.event.event.time[0] }}:00 - {{ event.event.event.time[1] }}:00</ion-card-title>
            <ion-card-subtitle>{{ event.event.event.eventName }}</ion-card-subtitle>
          </ion-card>
        </ion-col>
      </ion-row>
    </div> -->
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">08:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-card class="planning_item">
          <ion-card-subtitle>Les voorbereiden</ion-card-subtitle>
          <ion-card-title>08:00-09:00</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">09:00</ion-col></ion-row>
        <ion-row><ion-col class="time_stamp">10:00</ion-col></ion-row>
        <ion-row><ion-col class="time_stamp">11:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-card class="planning_item">
          <ion-card-subtitle>Lesgeven</ion-card-subtitle>
          <ion-card-title>09:00-12:00</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">12:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-card class="planning_item suggestion">
          <ion-card-subtitle>tijd voor een pauze?</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">13:00</ion-col></ion-row>
        <ion-row><ion-col class="time_stamp">14:00</ion-col></ion-row>
        <ion-row><ion-col class="time_stamp">15:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-card class="planning_item">
          <ion-card-subtitle>Lesgeven</ion-card-subtitle>
          <ion-card-title>13:00-16:00</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">16:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8">
        <ion-card class="planning_item">
          <ion-card-subtitle>SLB Gesprek</ion-card-subtitle>
          <ion-card-title>16:00-17:00</ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">17:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rowcontainer" size="3">
        <ion-row><ion-col class="time_stamp">18:00</ion-col></ion-row>
      </ion-col>
      <ion-col size="8"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
